---
layout: default
title: tour dates
description: Exit Humanity tour dates in Belgium and The Netherlands
permalink: /tour-dates/
---

<section class="cover cover-tour-dates"></section>



<section class="content bg-1">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="text-center red mt-5 mb-0">Tour Dates</h1>
        <h3 class="h1 text-center">Channel Zero,<br>the End of an Era!</h3>
        <p><i>In December 2026, the story of Belgian metal pride Channel Zero ends at the AB, the rock temple where they made history on several occasions.</i> </p>
        <p>The band, around charismatic vocalist Franky De Smet-Van Damme and bassist Tino DeMartino, was founded in Brussels in 1990. For decades they conquered the metal world with their impressive sound and energetic live shows.</p>
        <p>With breakthrough albums such as Unsafe (1994), Black Fuel (1997), the legendary Live at the Ancienne Belgique (2010) and even an Unplugged (2015) album, Channel Zero put Belgium on the international map as a metal country. They were the primordial spark for a whole series of other Belgian metal bands to this day.</p> 
        <p>Channel Zero embodies what rock 'n roll is all about: legendary albums and performances, international success, die-hard fans, comebacks, but also personal dramas and tragedies. The band knows better than anyone how to close a chapter with dignity.</p>
        <p>“It has been a hell of a ride,” according to Franky De Smet-Van Damme. “Channel Zero has given me so much as a person and an artist. But you also have to dare to close things at their peak. And that is what we are going to do, together with the band, the entire crew and the fans in the AB.”</p>
        <p>That very last show will take place in December 2026 in the city where it all began. Not a farewell, but an ultimate tribute to Channel Zero, which will make Belgian metal and fans throughout the country roar and headbang. </p>
        <p>Channel Zero, Going out with a Bang</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        
        {% assign tourItems = site.data.tour-dates | where: 'done', 'no' | sort: 'date' %}
        {% for item in tourItems %}
        <div class="row mb-4 pb-2 border border-top-0 border-left-0 border-right-0">
          <div class="col-2 col-sm-2">
            {% assign myDate = item.date | date_to_string | split: " " %}
            <div class="date d-inline-block">
              <span class="month d-block">{{myDate[1]}}</span>
              <span class="day d-block">{{myDate[0]}}</span>
              <span class="year d-block">{{myDate[2]}}</span>
            </div>
          </div>
          <div class="col-10 col-sm-6">
            {% assign ism = item.co | split: '-' %}
            <h4 class="alien">{{item.place}} <a href="http://www.alcatraz.be/en/clubshows" rel="external" title="alcatraz"><span class="co d-block"><small>{{ism[0]}}</small> {{ism[1]}}</span></a></h4>
            <p>{{item.gig}}<br /><small>{{item.address}} <a href="https://maps.google.com/?q={{item.address}}" rel="external"><i class="fa fa-map-marker" aria-hidden="true"></i>  map</a></small></p>
            {% if item.support %}<p class="small text-uppercase">Support: {{item.support}}</p> {% endif %}

          </div>
          <div class="col-12 col-sm-4 mb-3 text-sm-right">
           {% if item.soldout != "soldout" %}
            <a href="{{item.tickets}}" role="button" class="btn btn-primary mr-2" rel="external">Tickets</a>{% else %}<a role="button" class="btn btn-primary mr-2 disabled" disabled rel="external">Sold out</a> {% endif %} <a href="{{item.info}}" role="button" class="btn btn-secondary" rel="external">Info</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <p><a href="{{site.baseurl}}/past-shows" class="btn btn-primary">Past shows</a></p>
      </div>
    </div>
  </div>
</section>
