---
layout: front
title: Channel Zero
---

<section class="cover cover-video text-center">
   <a href="{{site.baseurl}}/tour-dates" title="tour dates"><img src="{{site.baseurl}}/img/cover-home.jpg" alt="september 2023" class="img-fluid"></a>
</section>

<!--
<section class="cover cover-home">
  <div class="scrolldown text-center">scroll</div>
</section>
-->

<section class="content bg-4 pb-5 mt-5">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-12 order-2 col-md-4 order-sm-1 mb-3">
        <a href="https://themusicstore.be/product/channel-zero-best-of-30-years-channel-zero-3lp/" class="btn btn-primary" rel="external">Buy album</a>
    </div>
    <div class="col-12 order-1 col-md-4 order-sm-2 mb-2">
      <h3 class="alien">Latest Release</h3>
      <h1 class="mb-5">Best of 30 Years Channel Zero (3LP)</h1>
    </div>
   <div class="col-12 order-3 col-md-4 order-sm-3 mb-3">
     <a href="https://youtu.be/6aLmyw8oO8w" class="btn btn-secondary" rel="external">View video</a>
      </div>
      <div class="col-12 order-4 mb-3">
        <a href="{{site.baseurl}}/tour-dates" title="tour dates" class="btn btn-primary">Tour Dates</a>
      </div>
    </div>
  </div>
</section>

<section class="covers">
  <div>
    <div class="row no-gutters">
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-1.jpg" alt="blood letters" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-2.jpg" alt="wish you well" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-3.jpg" alt="exit humanity" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-4.jpg" alt="mental breakdown" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-5.jpg" alt="let the games begin" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-6.jpg" alt="elephant in the room" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-7.jpg" alt="dark net" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-8.jpg" alt="refugee" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-9.jpg" alt="freak" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-10.jpg" alt="slip away" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-11.jpg" alt="said and done" class="img-fluid" /></div>
      <div class="col-6 col-sm-4 col-md-3"><img src="{{site.baseurl}}/img/album-exit-humanity-12.jpg" alt="full circle" class="img-fluid" /></div>
    </div>
  </div>
</section>

<section class="bg-1 tourdates">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="h1 text-center">Channel Zero,<br>the End of an Era!</h3>
        <p><i>In December 2026, the story of Belgian metal pride Channel Zero ends at the AB, the rock temple where they made history on several occasions.</i> </p>
        <p>The band, around charismatic vocalist Franky De Smet-Van Damme and bassist Tino DeMartino, was founded in Brussels in 1990. For decades they conquered the metal world with their impressive sound and energetic live shows.</p>
        <p>With breakthrough albums such as Unsafe (1994), Black Fuel (1997), the legendary Live at the Ancienne Belgique (2010) and even an Unplugged (2015) album, Channel Zero put Belgium on the international map as a metal country. They were the primordial spark for a whole series of other Belgian metal bands to this day.</p> 
        <p>Channel Zero embodies what rock 'n roll is all about: legendary albums and performances, international success, die-hard fans, comebacks, but also personal dramas and tragedies. The band knows better than anyone how to close a chapter with dignity.</p>
        <p>“It has been a hell of a ride,” according to Franky De Smet-Van Damme. “Channel Zero has given me so much as a person and an artist. But you also have to dare to close things at their peak. And that is what we are going to do, together with the band, the entire crew and the fans in the AB.”</p>
        <p>That very last show will take place in December 2026 in the city where it all began. Not a farewell, but an ultimate tribute to Channel Zero, which will make Belgian metal and fans throughout the country roar and headbang. </p>
        <p>Channel Zero, Going out with a Bang</p>


        <h2 class="h1 text-center wht mt-5 d-none"><span class="d-none d-md-inline">Upcoming</span> tour dates</h2>
        {% assign tourItems = site.data.tour-dates | where: 'done', 'no' | sort: 'date' %}
        <div class="card-deck">
          {% for item in tourItems limit:3 %}
          <div class="card card-tourdate text-center mb-3">
            <div class="card-header">
              {% assign myDate = item.date | date_to_string |split: " " %}
              <span class="month d-block">{{myDate[1]}}</span>
              <span class="day d-block">{{myDate[0]}}</span>
              <span class="year d-block">{{myDate[2]}}</span>
            </div>
            <div class="card-body">
              {% assign ism = item.co | split: '-' %}
              <h4 class="card-title alien">{{item.place}}<br /><a href="http://www.alcatraz.be/en/clubshows" rel="external" title="alcatraz"><span class="co"><small>{{ism[0]}}</small> {{ism[1]}}</span></a></h4>
              <p class="card-subtitle">{{item.gig}}<br /><small>{{item.address}}<br /><a href="https://maps.google.com/?q={{item.address}}" rel="external"><i class="fa fa-map-marker" aria-hidden="true"></i>  map</a></small></p>
              {% if item.support %}<small class="card-subtitle text-uppercase">Support:<br>{{item.support}}</small> {% endif %}
            </div>
            <div class="card-footer">
              <p>{% if item.soldout != "soldout" %}
            <a href="{{item.tickets}}" role="button" class="btn btn-primary mr-2" rel="external">Tickets</a>{% else %}<a role="button" class="btn btn-primary mr-2 disabled" disabled rel="external">Sold out</a> {% endif %}</p>
              <p><a href="{{item.info}}" role="button" class="btn btn-secondary" rel="external">Info</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="text-center mt-4">
          <a href="{{site.baseurl}}/tour-dates" title="tour dates" class="btn btn-primary">View all tour Dates</a>
        </div>
      </div>
    </div>
  </div>
</section>
