<footer class="footer text-center mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo"><img src="{{site.baseurl}}/img/logo.png" alt="logo" class="w-25"/></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          <small>
            &copy; Channel Zero - 2017<br />
            <a href="mailto:marlon@code13.be">marlon@code13.be</a>
          </small>
        </p>
        <p>
          <a href="{{site.facebook}}" title="facebook" rel="external"><span class="social facebook">facebook</span></a> <a href="{{site.instagram}}" title="instagram" rel="external"><span class="social instagram">instagram</span></a> <a href="{{site.twitter}}" title="twitter" rel="external"><span class="social twitter">twitter</span></a>
        </p>
      </div>
    </div>
  </div>
</footer>